<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="./favicon.png">
    <title>Home - MagicPredict</title>
</head>
<body style="background-color: black;">
    <div class="navbar">
        <img src="/static/logo.png" style="width: 250px; margin: auto;">
    </div>

    <div class="mid">
        <div class="notifybar firstboot desktop-only" data-aos="zoom-out">
            <div class="accent"></div>
            <div class="yo desktop-only"><h1>YO!</h1></div>
            <div class="notifytext"><p>Thanks for checking out MagicPredict by SamarthCat! On this site, you'll be able to see current player data and future predictions for player data! Keep in mind that this website only uses games from Steam, so other popular games won't be here unfortunately.</p></div>
        </div>

        <div id="theme-notify" style="display: none;" data-aos="zoom-out">
            <div class="notifybar">
                <div class="accent"></div>
                <div class="yo desktop-only" style="height: 225px;"><h1>YO!</h1></div>
                <div class="notifytext" id="themetext"><p>The system has detected that your device is using the THEME theme, you can change it to -THEME if you want.</p></div>
            </div>
            <div class="notifybar" style="margin-top: 0px; height: 75px;">
                <div class="accent"></div>
                <div class="yo desktop-only"><h1></h1></div>
                <div class="notifytext"><button class="btninput" style="margin-bottom: 70px;" onclick="switchTheme()">Switch Theme</button></div>
            </div>
        </div>

        <div class="search">
            <div class="searchbar" data-aos="zoom-out">
                <input id="searchinput" autocomplete="off" oninput="onSearchChange(this)" type="text" class="txtinput" style="width: 100%;display: flex;" placeholder="Search for games...">
                <button onclick=" if (sanitize(document.getElementById('searchinput').value) != '') { redirect('/search?query=' + sanitize(document.getElementById('searchinput').value)); }" class="searchbutton btninput" style="width: 50px; margin-right: 0; display: flex;">
                    <img src="static/search.png" style="mix-blend-mode: difference; margin: auto;" width="30px" height="30px">
                </button>
            </div>
            <div class="hits" style="position:static; display: flex; z-index: 100; width: 100%; flex-direction: column;"></div>
        </div>


        <h1 data-aos="zoom-out">FEATURED GAMES</h1>
        
        <div data-aos="zoom-out" class="featured-loading carousel" style="display: initial;">
            <div><img style="width:100%; display:flex; background-color: var(--overlaycolor);" src="/static/PlaceHolderThumbnail.png"><div class="infobar"><h1 style="font-size: 25px; margin-left: 15px; text-align: left;">LOADING...</h1><p style="font-size: 15px; margin-left: 15px; margin-right: 15px; text-align: left; margin-top: 0;">...</p></div></div>
        </div>
        <div data-aos="zoom-out" class="featured-car carousel" style="display: none;"></div>

        <h1 data-aos="zoom-out">MOST PLAYED GAMES RIGHT NOW</h1>

        <canvas data-aos="zoom-out" id="top" class="chart" style="width: 100%; height: 500px;"></canvas>
    </div>

    <div class="footer-basic">
        <footer>
            <img src="/static/PartyWordmarkIcon.png" style="width: 300px; margin: auto; display: flex;">
            <br>
            <div class="social"><a href="https://samsidparty.com/redirect.html?link=Https://discord.com/invite/9pquRQPsFD"><img class="icon" src="https://samsidparty.com/Discord.png"></img></a><a href="https://samsidparty.com/redirect.html?link=https://www.youtube.com/channel/UCwQqQAKagWr2LSOLmlZFMUg?sub_confirmation=1"><img class="icon" src="https://samsidparty.com/Youtube.png"></img></a><a href="https://samsidparty.com/redirect.html?link=Https://github.com/SamarthCat"><img class="icon" src="https://samsidparty.com/Github.png"></img></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://samsidparty.com/index.html">Home</a></li>
                <li class="list-inline-item"><a href="https://samsidparty.com/Games/index.html">Games</a></li>
                <li class="list-inline-item"><a href="https://samsidparty.com/privacypolicy.html">Privacy Policy</a></li>
            </ul>
            <p class="copyright">MagicPredict, Created By SamarthCat From SamsidParty</p>
            <p class="copyright">Copyright © SamsidParty, All Rights Reserved</p>
        </footer>
    </div>

    <script>

        var mobile = false;

        function finishGetFeatured(){
            $('.featured-car').attr("style", "display: initial")
            $('.featured-loading').attr("style", "display: none")
            $('.featured-car').slick({
                prevArrow: `<button type="button" class="slick-prev"></button>`,
                nextArrow: `<button type="button" class="slick-next"></button>`,
                autoplay: true,
                autoplaySpeed: 4000
            });
        }

        function init(){
            if (window.innerWidth <= 1000){
                mobile = true;
            }

            getFeatured()
            getTop();
        }

        function getAppData(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/info/" + id, false);
            xhttp.send();
            JSON.parse(xhttp.responseText)
        }

        function getFeatured(){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/featured", false);
            xhttp.send();
            iddat = JSON.parse(xhttp.responseText)
            var featuredCompletedRequests = []
            featuredTotalRequests = iddat.length

            for (var i = 0; i < iddat.length; i++){

                
                fetch('/info/' + iddat[i])
                .then(data => {
                    data.json().then(featuredgamedata => {
                        console.log(featuredgamedata);
                        featuredCompletedRequests.push(featuredgamedata);

                        var featuredgamename = featuredgamedata["gameName"];
                        var featuredgamedesc = featuredgamedata["shortDescription"];

                        var featuredcarcontent = `<a href="./app/` + featuredgamedata["appID"] + `"><img style="width:100%; display:flex;" src="https://cdn.cloudflare.steamstatic.com/steam/apps/` + featuredgamedata["appID"] + `/capsule_616x353.jpg"><div class="infobar"><h2 class="center-on-mobile" style="font-size: 25px; margin-left: 15px; text-align: left;">GAME NAME</h2><p class="desktop-only" style="font-size: 15px; margin-left: 15px; margin-right: 15px; text-align: left; margin-top: 0;">DESCRIPTION</p></div></a>`;
                        featuredcarcontent = featuredcarcontent.replaceAll("GAME NAME", featuredgamename);
                        featuredcarcontent = featuredcarcontent.replaceAll("APPID", featuredgamedata["appID"]);
                        featuredcarcontent = featuredcarcontent.replaceAll("DESCRIPTION", featuredgamedesc);
                        $(".featured-car").append(featuredcarcontent);

                        if (featuredCompletedRequests.length == featuredTotalRequests){
                            finishGetFeatured();
                            //$(".ft-gamedesc").fitText(4.5);
                        }   
                    });
                });

            }
        }

        function getTop(){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/top", false);
            xhttp.send();
            iddat = JSON.parse(xhttp.responseText);
            
            var labels = [];
            var data = [];
            var labelAmount = iddat.length;
            var axis = "y";

            if (mobile){
                labelAmount = 4;
                axis = "x";
            }
            

            for (var i = 0; i < labelAmount; i++){

                var gamename = iddat[i][0];
                var gameplayercount = iddat[i][1];
                labels.push(gamename)
                data.push(gameplayercount)
            }

            const ctx = document.getElementById('top').getContext('2d');
            const myChart = new Chart(ctx, {
                
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Players Online',
                        data: data,
                        backgroundColor: [
                            'rgba(243, 183, 0, 0.7)'
                        ],
                        borderColor: [
                            'rgba(243, 183, 0, 1)'
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    indexAxis: axis,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        $(document).ready(function(){
            init();
        });



    </script>


    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/static/fit-text.js"></script>
    <script type="text/javascript" src="/static/global.js"></script>

    <div class="trans" hide="no" dir="right" style="background-color: black;"></div>
</body>
</html>